@using SignalRWebUI.DTOs.AboutDTOs
@model List<ResultAboutDTO>
<section class="about_section layout_padding">
    <div class="container  ">
        @foreach(var x in Model){
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="@x.ImageUrl" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                           @x.Title
                        </h2>
                    </div>
                    <p>
                       @x.Description
                    </p>
                    <a href="/Showcase/Order/Index">
                        Sipariş Ver
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
</section>