@using SignalRWebUI.DTOs.IdentityDTOs
@model IdentityRegisterDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kartal Fast&Food Kayıt Paneli</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="~/register/text/css" href="css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/register/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/register/images/fst.jpg" style="width:484px;height:584px" alt="form">
			</div>
			<form class="form-detail"  method="post">
				<h2>Kayıt Ekranı</h2>
				<div class="form-row">
					<input type="text" asp-for="nameSurname"  id="full-name" class="input-text" placeholder="Adınız Soyadınız..." required>
				</div>
				<div class="form-row">
					<input type="text" asp-for="mail" id="your-email" class="input-text" placeholder="Mail Adresiniz...">
				</div>
				<div class="form-row">
					<input type="text" asp-for="userName" id="password" class="input-text" placeholder="Kullanıcı Adınız..." required>
				</div>
				<div class="form-row">
					<input type="password" asp-for="password" id="comfirm-password" class="input-text" placeholder="Şifreniz..." required>
				</div>
				<div class="form-row-last">
					<button class ="register">Kayıt Ol</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>