
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Not Found</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/errorpage404/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="~/errorpage404/css/style.css" />
</head>

<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h2>(404) Sayfa Bulunamadı!</h2>
			</div>
			<h2>OOOPPSS Yanlış Yere Geldiniz :) Kartal Fast&Food Afiyetlerini İletir...</h2>
			<a href="/Showcase/Default/Index/" class="home-btn">Ana Sayfamıza Gidin.</a>
			<a href="/Showcase/Message/Index/" class="contact-btn">Bize Ulaşın</a>
			<div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>

</body>

</html>
