@model UpdateDiscountDTO
@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				@Html.HiddenFor(x=>x.DiscountId)
				<div class="card">
					<div class="card-header">
						<div class="card-title" style="color:red">İndirimli Ürün Güncelleme Paneli</div>
					</div>
					<div class="card-body">
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">Ürün Adı:</label>
							<input style="margin-left:-10px" type="text" asp-for="Title" class="form-control" placeholder="Ürün Adını Giriniz...">
						</div>
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">İndirim Fiyatı:</label>
							<input style="margin-left:-10px" type="text" asp-for="Amount" class="form-control" placeholder="Ürünün İndirimli Fiyatını Giriniz...">
						</div>
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">Resim:</label>
							<input style="margin-left:-10px" type="text" asp-for="ImageUrl" class="form-control" placeholder="Resim Url Giriniz...">
						</div>
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">Açıklama:</label>
							<textarea asp-for="Description" style="margin-left:-10px" class="form-control" rows="4" placeholder="Ürün Açıklamasını Girinizi..."></textarea>
						</div>
					</div>
					<button class="btn btn-success">İndirimli Ürün Güncelle</button>
				</div>
			</form>
		</div>
	</div>
</div>



