
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Html.PartialAsync("/Views/AdminLayout/_HeadPartial.cshtml")
<body>
	<div class="wrapper">
		@await Html.PartialAsync("/Views/AdminLayout/_NavbarPartial.cshtml")
		@await Html.PartialAsync("/Views/AdminLayout/_SidebarPartial.cshtml")
		<div class="main-panel">
			<div class="content">
				@RenderBody()
			</div>
		</div>
	</div>
	@await Html.PartialAsync("/Views/AdminLayout/_ScriptPartial.cshtml")
</body>
</html>
