@using SignalRWebUI.DTOs.MenuTableDTOs
@model UpdateMenuTableDTO
@{
    ViewData["Title"] = "EditMenuTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				@Html.HiddenFor(x=>x.TableId)
				<div class="card">
					<div class="card-header">
						<div class="card-title" style="color:red">Masa Güncelleme Paneli</div>
					</div>
					<div class="card-body">
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">Masa Adı:</label>
							<input style="margin-left:-10px" type="text" asp-for="Name" class="form-control" placeholder="Masa Adını Giriniz...">
						</div>
					</div>
					<button class="btn btn-success">Güncelle</button>
				</div>
			</form>
		</div>
	</div>
</div>


