@model UpdateCategoryDTO
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				@Html.HiddenFor(x=>x.CategoryId)
				<div class="card">
					<div class="card-header">
						<div class="card-title" style="color:red">Kategori Güncelleme Paneli</div>
					</div>
					<div class="card-body">
						<div style="margin-top:-20px" class="form-group">
							<label style="margin-left:-8px;font-size:25px">Kategori Adı:</label>
							<input style="margin-left:-10px" type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adını Giriniz...">
						</div>
					</div>
					<button class="btn btn-success">Kategori Güncelle</button>
				</div>
			</form>
		</div>
	</div>
</div>
